// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  border-bottom: 1px solid #ddd;
  padding: 1em;

  &:first-of-type {
    border-top: 1px solid #ddd;
  }
}
